<app-header></app-header>
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <app-your-page></app-your-page>
                <app-short-cut></app-short-cut>
              </aside>
            </div><!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <div class="frnds">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">User</a> <span>{{sumUsers}}</span></li>
                  </ul>
                  <form class="input-group mb-3" style="top: 10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <input type="text" class="form-control" placeholder="Search User" aria-label="Recipient's username" aria-describedby="basic-addon2" name="username" ngModel>
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                  </form>
                  <div class="tab-content">
                    <div class="tab-pane active fade show " id="frends" >
                      <ul class="nearby-contct">
                        <li *ngFor="let user of users; let i = index">
                          <div class="nearly-pepls">
                            <figure>
                              <img src="{{user.userAvatar}}" alt="" style="height: 3vw; width: 3vw; object-fit: cover">
                            </figure>
                            <div class="pepl-info">
                              <h4>{{user.userName}}</h4>
                              <span>CodeGym</span>
                              <a routerLink="/userInfor/{{user.userId}}" title="" class="add-butn" data-ripple="">View Infor</a>
                            </div>
                          </div>
                        </li>

                      </ul>
                      <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- centerl meta -->

            <div class="col-lg-3">
              <aside class="sidebar static">
                <app-ads></app-ads>
                <app-friend-list [idUser]="idLogin"></app-friend-list>
              </aside>
            </div><!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
