<div class="central-meta item" *ngIf="post">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <img style="height: 3.5vw; width: 3.5vw; object-fit: cover" src="{{post.posterAvatar}}">
      </figure>
      <div class="friend-name">
        <ins><a href="#" title="">{{post.posterName}}</a></ins>
        <span>published: {{post.postTime}}</span>
      </div>
      <div class="post-meta">
        <div class="description">
          <a [routerLink]="'/status/'+ post.postId">
            <p>{{post.textPost}}</p>
            <img src="{{post.imagePost}}" alt="">
          </a>
        </div>
        <div class="we-video-info">
          <ul>
            <li>
              <span class="like" data-toggle="tooltip" title="Like"><i class="ti-heart"></i><ins>{{post.postLike}}</ins></span>
            </li>
            <li>
              <span class="comment" data-toggle="tooltip" title="Comments">
                <i class="fa fa-comments-o"></i>
                <ins *ngIf="post.commentList">{{post.commentList.length}}</ins>
              </span>
            </li>
            <li class="editing-info" data-toggle="tooltip" title="Edit" (click)="showEditPost(post.postId)">
                <span data-toggle="modal" data-target="#modal"><i class="fa fa-pencil-square-o"></i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-comment-list [postId]="post.postId"></app-comment-list>

</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="post">
  <app-status-edit [post]="post"></app-status-edit>
</div>


