<div class="central-meta item" *ngIf="post && userLogin">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <img style="height: 3.5vw; width: 3.5vw; object-fit: cover" src="{{post.posterAvatar}}">
      </figure>
      <div class="friend-name">
        <ins><a href="#" title="">{{post.posterName}}</a></ins>
        <span>published: {{post.postTime}}</span>
      </div>
      <div class="post-meta">
        <div class="description">
          <a [routerLink]="'/status/'+ post.postId">
            <p>{{post.textPost}}</p>
            <img src="{{post.imagePost}}" alt="">
          </a>
        </div>
        <div class="we-video-info">
          <ul>
            <li (click)="likeAPost()" *ngIf="!liked">
              <span class="like" data-toggle="tooltip" title="Like"><i class="ti-heart"></i><ins>{{post.postLike}}</ins></span>
            </li>
            <li (click)="unLikeAPost()" *ngIf="liked">
              <span class="like" data-toggle="tooltip" title="UnLike"><i class="ti-heart" style="color: red"></i><ins>{{post.postLike}}</ins></span>
            </li>
            <li>
              <span class="comment" data-toggle="tooltip" title="Comments">
                <i class="fa fa-comments-o"></i>
                <ins *ngIf="post.commentList">{{post.commentList.length}}</ins>
              </span>
            </li>
            <li data-toggle="tooltip" title="Peoples like this post">
              <span data-toggle="modal" [attr.data-target]="'#showLikerList' + post.postId"><i class="fa fa-male"></i></span>
            </li>
            <ng-template [ngIf]="userLogin.userId==post.posterId">
              <li data-toggle="tooltip" title="Edit">
                  <span data-toggle="modal" [attr.data-target]="'#modal' + post.postId"><i class="fa fa-pencil-square-o"></i></span>
              </li>
              <li data-toggle="tooltip" title="Delete post">
                <span><i class="fa fa-trash" (click)="deletePost(post.postId)"></i></span>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-comment-list [postId]="post.postId" (newComment)="addNewComment($event)" (delComment)="delComment($event)"></app-comment-list>
</div>
<div class="modal fade" [attr.id]="'modal' + post.postId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="post">
  <app-status-edit [post]="post"></app-status-edit>
</div>

<div class="modal fade" [attr.id]="'showLikerList' + post.postId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-status-liker-list [postId] = post.postId></app-status-liker-list>
</div>
