<div class="central-meta" *ngIf="user">
  <div class="new-postbox">
    <figure>
      <img style="height: 4.8vw; width: 4.8vw; object-fit: cover" src="{{user.userAvatar}}" alt="">
    </figure>
    <div class="newpst-input">
      <form [formGroup]="creatPostForm" (ngSubmit)="creatPost()">
        <textarea formControlName="textPost" rows="2" placeholder="write something"></textarea>
        <img src="{{downloadURL}}" alt="">
        <div class="attachments">
          <ul>
            <li *ngIf="downloadURL === ''">
              <i class="fa fa-image"></i>
              <label class="fileContainer">
                <input type="file" accept="image/*" (change)="uploadFile($event)">
              </label>
            </li>
            <li *ngIf="downloadURL != ''">
              <button class="btn-danger" (click)="cancelPostImg()"><i class="fa fa-ban"></i></button>
            </li>
            <li>
              <button type="submit">Post</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
