<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="land-featurearea">
          <div class="land-meta">
            <h1>VH2</h1>
            <p>
              VH2 helps you connect and share with the people in your life.
            </p>
            <div class="friend-logo">
              <span><img src="assets/images/wink.png" alt=""></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login-reg-bg">
          <div class="log-reg-area sign">
            <h2 class="log-title">Login</h2>
            <p>
              Don’t use VH2 yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
            </p>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
              <div class="form-group">
                <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" required="required"/>
                <label class="control-label" for="username">User name</label><i class="mtrl-select"></i>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">USer name is required!</div>
              <div class="form-group">
                <input type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
                <label class="control-label" for="password">Password</label><i class="mtrl-select"></i>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="checked"/><i class="check-box"></i>Remember Me
                </label>
              </div>
              <a href="#" title="" class="forgot-pwd">Forgot Password?</a>
              <div class="submit-btns">
                <button class="mtr-btn signin" type="submit" ><span>Login</span></button>
                <button class="mtr-btn signup ml-1" type="button"><span>Register</span></button>
              </div>
              <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">Login failed: {{ errorMessage }}</div>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isLoggedIn">Logged in as {{ roles }}.</div>
          </div>


          <div class="log-reg-area reg">
            <h2 class="log-title">Register</h2>
            <p>
              Don’t use VH2 yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
            </p>
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="g.form.valid && register()" #g="ngForm">

              <div class="form-group">
                <input type="text" name="username" [(ngModel)]="form2.username" minlength="2" maxlength="20" #username="ngModel" required="required"/>
                <label class="control-label" for="username">User name</label><i class="mtrl-select"></i>
                <div class="alert-danger" *ngIf="g.submitted && username.invalid">
                  <div *ngIf="username.errors.required">Username is required</div>
                  <div *ngIf="username.errors.minlength">Username must be at least 2 characters</div>
                  <div *ngIf="username.errors.maxlength">Username must be at most 20 characters</div>
                </div>
              </div>

              <div class="form-radio">
                <div class="radio">
                  <label>
                    <input type="radio" value="Male" name="sex" [(ngModel)]="form2.sex" #sex="ngModel" required="required"/><i class="check-box"></i>Male
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" value="Female" name="sex" [(ngModel)]="form2.sex" #sex="ngModel" required="required"/><i class="check-box"></i>Female
                  </label>
                </div>
                <div class="alert-danger" *ngIf="g.submitted && sex.invalid">
                  <div *ngIf="sex.errors.required">Gender is required</div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="form2.email" email #email="ngModel" required="required"/>
                <label class="control-label" for="email">Email</label><i class="mtrl-select"></i>
                <div class="alert-danger" *ngIf="g.submitted && email.invalid">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="password" [(ngModel)]="form2.password" minlength="6" #password="ngModel" required="required"/>
                <label class="control-label" for="password">Password</label><i class="mtrl-select"></i>
                <div class="alert-danger" *ngIf="g.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="confirmPassword" [(ngModel)]="form2.confirmPassword"  #confirmPassword="ngModel" required="required" pattern="{{ password.value }}"/>
                <label class="control-label" for="confirmPassword">Confirm password</label><i class="mtrl-select"></i>
                <div class="alert-danger" *ngIf="g.submitted && confirmPassword.invalid">
                  <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                  <div *ngIf="confirmPassword.errors.pattern">Confirm password not match</div>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="checked"/><i class="check-box"></i>Accept Terms & Conditions ?
                </label>
              </div>

              <a href="#" title="" class="already-have">Already have an account</a>
              <div class="submit-btns">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
              </div>
              <div class="alert alert-warning" *ngIf="g.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage2 }}
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
