<app-header></app-header>
<app-cover-photo [relatingId]="idLogin" [relatedId]="idUser"></app-cover-photo>
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">

              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Edit information</h4>
                  <ul class="naves">
                    <li>
                      <i class="ti-info-alt"></i>
                      <a title="" routerLink="/userEdit">Personal info</a>
                    </li>
                    <li>
                      <i class="ti-lock"></i>
                      <a title="" routerLink="/userEditPass">change password</a>
                    </li>
                  </ul>
                </div>
                <div class="widget">
                  <h4 class="widget-title">Socials</h4>
                  <ul class="socials">
                    <li class="facebook">
                      <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span></a>
                    </li>
                    <li class="twitter">
                      <a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span></a>
                    </li>
                    <li class="google">
                      <a title="" href="#"><i class="fa fa-google"></i> <span>google</span></a>
                    </li>
                  </ul>
                </div>
              </aside>
            </div><!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <div class="about">
                  <div class="personal">
                    <h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
                    <h5>{{user.about}}</h5>
                  </div>
                  <div class="d-flex flex-row mt-2">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="basic" >
                        <ul class="basics">
                          <li><h5><i class="ti-user"></i>{{user.userName}}</h5></li>
                          <li><h5><i class="ti-agenda"></i>{{user.userSex}}</h5></li>
                          <li><h5><i class="ti-time"></i>{{user.dateOfBirth}}</h5></li>
                          <li><h5><i class="ti-map"></i>{{user.userAddress}}</h5></li>
                          <li><h5><i class="ti-mobile"></i>{{user.userPhoneNumber}}</h5></li>
                          <li><h5><i class="ti-email"></i>{{user.userEmail}}</h5></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- centerl meta -->
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Your page</h4>
                  <div class="your-page">
                    <figure>
                      <a title="" href="#"><img alt="" src="assets/images/resources/friend-avatar9.jpg"></a>
                    </figure>
                    <div class="page-meta">
                      <a class="underline" title="" href="#">My page</a>
                      <span><i class="ti-comment"></i>Messages <em>9</em></span>
                      <span><i class="ti-bell"></i>Notifications <em>2</em></span>
                    </div>
                    <div class="page-likes">
                      <ul class="nav nav-tabs likes-btn">
                        <li class="nav-item"><a data-toggle="tab" href="#link1" class="active">likes</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#link2" class="">views</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div id="link1" class="tab-pane active fade show">
                          <span><i class="ti-heart"></i>884</span>
                          <a title="weekly-likes" href="#">35 new likes this week</a>
                          <div class="users-thumb-list">
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
                              <img alt="" src="assets/images/resources/userlist-1.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="frank">
                              <img alt="" src="assets/images/resources/userlist-2.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
                              <img alt="" src="assets/images/resources/userlist-3.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
                              <img alt="" src="assets/images/resources/userlist-4.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
                              <img alt="" src="assets/images/resources/userlist-5.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Sophie">
                              <img alt="" src="assets/images/resources/userlist-6.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Maria">
                              <img alt="" src="assets/images/resources/userlist-7.jpg">
                            </a>
                          </div>
                        </div>
                        <div id="link2" class="tab-pane fade">
                          <span><i class="ti-eye"></i>445</span>
                          <a title="weekly-likes" href="#">440 new views this week</a>
                          <div class="users-thumb-list">
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
                              <img alt="" src="assets/images/resources/userlist-1.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="frank">
                              <img alt="" src="assets/images/resources/userlist-2.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
                              <img alt="" src="assets/images/resources/userlist-3.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
                              <img alt="" src="assets/images/resources/userlist-4.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
                              <img alt="" src="assets/images/resources/userlist-5.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Sophie">
                              <img alt="" src="assets/images/resources/userlist-6.jpg">
                            </a>
                            <a data-toggle="tooltip" title="" href="#" data-original-title="Maria">
                              <img alt="" src="assets/images/resources/userlist-7.jpg">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget stick-widget">
                  <h4 class="widget-title">Friends</h4>
                  <ul class="followers">
                    <li *ngFor="let friend of friendList; let i = index">
                      <figure><img src="assets/images/resources/friend-avatar2.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a [routerLink]="'/userInfor/'+friend.userId" title="">{{friend.userName}}</a></h4>
<!--                        <a href="#" title="" class="underline"> Unfriend</a>-->
                      </div>
                    </li>

                  </ul>
                </div><!-- Friends -->
              </aside>
            </div><!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
