<section>
  <div class="feature-photo">
    <figure><img src="assets/images/resources/timeline-1.jpg" alt=""></figure>
    <form class="edit-phto">
      <i class="fa fa-camera-retro"></i>
      <label class="fileContainer">
        Edit Cover Photo
        <input type="file" id="coverPhoto" (change)="onFileSelected($event)"/>
      </label>
    </form>
    <div class="container-fluid">
      <div class="row merged">
        <div class="col-lg-2 col-sm-3">
          <div class="user-avatar">
            <figure>
              <img src="assets/images/resources/user-avatar.jpg" alt="">v
              <form class="edit-phto">
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer">
                  Edit Display Photo
                  <input type="file"/>
                </label>
              </form>
            </figure>
          </div>
        </div>
        <div class="col-lg-10 col-sm-9">
          <div class="timeline-info">
            <ul>
              <li class="admin-name">
                <h5>Janice Griffith</h5>
              </li>
              <li>
                <a class="" href="#" title="" data-ripple="">time line</a>
                <a class="" href="#" title="" data-ripple="">Photos</a>
                <a class="" href="#" title="" data-ripple="">Videos</a>
                <a class="" href="#" title="" data-ripple="">Friends</a>
                <a class="" href="#" title="" data-ripple="">Groups</a>
                <a class="active" href="#" title="" data-ripple="">about</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- top area -->
