<app-header></app-header>
<div class="theme-layout">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <!-- sidebar -->
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <!-- Shortcuts -->
                  <app-short-cut></app-short-cut>
                  <div class="widget">
                    <div class="banner medium-opacity bluesh">
                      <div class="bg-image" style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"></div>
                      <div class="baner-top">
                        <span><img alt="" src="assets/images/book-icon.png"></span>
                        <i class="fa fa-ellipsis-h"></i>
                      </div>
                      <div class="banermeta">
                        <p>
                          create your own favourit page.
                        </p>
                        <span>like them all</span>
                        <a data-ripple="" title="" href="#">start now!</a>
                      </div>
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-lg-6">

                <!-- add post new box -->
                <app-new-post></app-new-post>
                <div class="loadMore">
                  <div class="central-meta item" *ngFor="let post of allPost">
                    <div class="user-post">
                      <div class="friend-info">
                        <figure>
                          <img src="assets/images/resources/{{post.posterAvatar}}" alt="">
                        </figure>
                        <div class="friend-name">
                          <ins><a href="#" title="">{{post.posterName}}</a></ins>
                          <span>published: {{post.postTime}}</span>
                        </div>
                        <div class="post-meta">
                          <div class="description">
                            <p>{{post.textPost}}</p>
                          </div>
                          <div class="we-video-info">
                            <ul>
                              <li><span class="comment" data-toggle="tooltip" title="Comments"><i class="fa fa-comments-o"></i><ins>52</ins></span></li>
                              <li><span class="like" data-toggle="tooltip" title="like"><i class="ti-heart"></i><ins>{{post.postLike}}</ins></span></li>
                              <li><span class="dislike" data-toggle="tooltip" title="dislike"><i class="ti-heart-broken"></i><ins>{{post.postDislike}}</ins></span></li>
                              <li class="social-media">
                                <div class="menu">
                                  <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="coment-area">
                      <ul class="we-comet">
                        <li>
                          <div class="comet-avatar">
                            <img src="images/resources/comet-1.jpg" alt="">
                          </div>
                          <div class="we-comment">
                            <div class="coment-head">
                              <h5><a href="time-line.html" title="">Jason borne</a></h5>
                              <span>1 year ago</span>
                              <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                            </div>
                            <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                          </div>
                        </li>
                        <li class="post-comment">
                          <div class="comet-avatar">
                            <img src="images/resources/comet-1.jpg" alt="">
                          </div>
                          <div class="post-comt-box">
                            <form method="post">
                              <textarea placeholder="Post your comment"></textarea>
                              <button type="submit"></button>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div><!-- centerl meta -->

              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                    <h4 class="widget-title">Your page</h4>
                    <div class="your-page">
                      <figure>
                        <a href="#" title=""><img src="assets/images/resources/friend-avatar9.jpg" alt=""></a>
                      </figure>
                      <div class="page-meta">
                        <a href="#" title="" class="underline">My page</a>
                        <span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
                        <span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
                      </div>
                      <div class="page-likes">
                        <ul class="nav nav-tabs likes-btn">
                          <li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
                          <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active fade show " id="link1" >
                            <span><i class="ti-heart"></i>884</span>
                            <a href="#" title="weekly-likes">35 new likes this week</a>
                            <div class="users-thumb-list">
                              <a href="#" title="Anderw" data-toggle="tooltip">
                                <img src="images/resources/userlist-1.jpg" alt="">
                              </a>
                              <a href="#" title="frank" data-toggle="tooltip">
                                <img src="images/resources/userlist-2.jpg" alt="">
                              </a>
                              <a href="#" title="Sara" data-toggle="tooltip">
                                <img src="images/resources/userlist-3.jpg" alt="">
                              </a>
                              <a href="#" title="Amy" data-toggle="tooltip">
                                <img src="images/resources/userlist-4.jpg" alt="">
                              </a>
                              <a href="#" title="Ema" data-toggle="tooltip">
                                <img src="images/resources/userlist-5.jpg" alt="">
                              </a>
                              <a href="#" title="Sophie" data-toggle="tooltip">
                                <img src="images/resources/userlist-6.jpg" alt="">
                              </a>
                              <a href="#" title="Maria" data-toggle="tooltip">
                                <img src="images/resources/userlist-7.jpg" alt="">
                              </a>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="link2" >
                            <span><i class="ti-eye"></i>440</span>
                            <a href="#" title="weekly-likes">440 new views this week</a>
                            <div class="users-thumb-list">
                              <a href="#" title="Anderw" data-toggle="tooltip">
                                <img src="images/resources/userlist-1.jpg" alt="">
                              </a>
                              <a href="#" title="frank" data-toggle="tooltip">
                                <img src="images/resources/userlist-2.jpg" alt="">
                              </a>
                              <a href="#" title="Sara" data-toggle="tooltip">
                                <img src="images/resources/userlist-3.jpg" alt="">
                              </a>
                              <a href="#" title="Amy" data-toggle="tooltip">
                                <img src="images/resources/userlist-4.jpg" alt="">
                              </a>
                              <a href="#" title="Ema" data-toggle="tooltip">
                                <img src="images/resources/userlist-5.jpg" alt="">
                              </a>
                              <a href="#" title="Sophie" data-toggle="tooltip">
                                <img src="images/resources/userlist-6.jpg" alt="">
                              </a>
                              <a href="#" title="Maria" data-toggle="tooltip">
                                <img src="images/resources/userlist-7.jpg" alt="">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- page like widget -->
                  <!-- friends list sidebar -->
                  <app-friend-list></app-friend-list>
                </aside>
              </div><!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
