<app-header></app-header>
<div class="theme-layout">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <app-your-page></app-your-page>
                  <app-short-cut></app-short-cut>
                </aside>
              </div>
              <div class="col-lg-6">
                <app-new-post (newPost)="addNewPost($event)"></app-new-post>
                <div class="loadMore" *ngFor="let post of allPost; let i = index">
                  <div *ngIf="(post.status===1&&post.posterId===userLogin.userId)||(post.status===2&&post.posterId===userLogin.userId)||(post.status===3)">
                  <app-status [post]="post" [index]="i" (indexDelPost)="delPost($event)" (sharePostEvent)="sharePost($event)"></app-status>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <app-ads></app-ads>
                  <app-friend-list [idUser]="userLogin.userId"></app-friend-list>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
