<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="modal-body">
        <div class="form-group description">
          <textarea class="form-control" rows="3" cols="50" id="content" name="textPost" [ngModel]="post.textPost"></textarea>
          <input class="form-control" type="text" hidden name="imagePost" [ngModel]="post.imagePost">
          <button *ngIf="post.imagePost != ''" type="button" class="close mb-1" aria-label="Close" (click)="deleteImage()"><span aria-hidden="true" class="fa fa-trash"></span></button>
          <label class="fileContainer" *ngIf="post.imagePost === ''">
            <i class="close fa fa-image"></i>
            <input type="file" accept="image/*" (change)="uploadFile($event)">
          </label>
          <img src="{{post.imagePost}}" alt="">
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn-block">Edit</button>
      </div>
    </form>
  </div>
</div>
