<div class="widget stick-widget mb-5">
  <h4 class="widget-title">Shortcuts</h4>
  <ul class="naves">
    <li>
      <i class="ti-clipboard"></i>
      <a [routerLink]="'/newFeed'" title="">News feed</a>
    </li>
    <li>
      <i class="ti-files"></i>
      <a [routerLink]="'/userInfor/' + userId" title="">My pages</a>
    </li>
    <li>
      <i class="ti-user"></i>
      <a [routerLink]="'/listFriend'" title="">friends</a>
    </li>
    <li>
      <i class="ti-image"></i>
      <a href="#" title="">images</a>
    </li>
    <li>
      <i class="ti-video-camera"></i>
      <a href="#" title="">videos</a>
    </li>
    <li>
      <i class="ti-comments-smiley"></i>
      <a href="#" title="">Messages</a>
    </li>
    <li>
      <i class="ti-bell"></i>
      <a href="#" title="">Notifications</a>
    </li>
    <li>
      <i class="ti-power-off"></i>
      <a (click)="logOut()" title="">Logout</a>
    </li>
  </ul>
</div>
