<app-header></app-header>
<div class="col-lg-6">
  <div class="central-meta">
    <div class="frnds">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">My Friends</a> <span>{{sumListFriend}}</span></li>
        <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Friend Requests</a><span>{{sumListPending}}</span></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active fade show " id="frends" >
          <ul class="nearby-contct">

            <li *ngFor="let friend of friendList; let i = index">
              <div class="nearly-pepls">
                <figure>
                  <a [routerLink]="'/userInfor/'+friend.userId"><img src="assets/images/resources/friend-avatar9.jpg" alt=""></a>
                </figure>
                <div class="pepl-info">
                  <h4><a [routerLink]="'/userInfor/'+friend.userId" title="">{{friend.userName}}</a></h4>
                  <a  title="" class="add-butn btn-danger" data-ripple="" (click)="unFriend(friend.userId,3,i)">unfriend</a>
                </div>
              </div>
            </li>

          </ul>
          <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
        </div>

        <div class="tab-pane fade" id="frends-req" >
          <ul class="nearby-contct">
            <li *ngFor="let friend of pendingList; let i = index">
              <div class="nearly-pepls">
                <figure>
                  <a [routerLink]="'/userInfor/'+friend.userId" title=""><img src="assets/images/resources/nearly5.jpg" alt=""></a>
                </figure>
                <div class="pepl-info">
                  <h4><a [routerLink]="'/userInfor/'+friend.userId" title="">{{friend.userName}}</a></h4>
                  <span>ftv model</span>
                  <a  title="" class="add-butn btn-outline-danger more-action " (click)="acceptInviteFriend(friend.userId,3,i)" data-ripple="">Delete</a>
                  <a title="" class="add-butn btn-outline-success" data-ripple="" (click)="acceptInviteFriend(friend.userId,2,i)">Confirm</a>
                </div>
              </div>
            </li>
          </ul>
          <button class="btn-view btn-load-more"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
