<div class="col-lg-6">
  <div class="central-meta">
    <div class="editing-info">
      <h5 class="f-title"><i class="ti-lock"></i>Change Password</h5>

      <div class="form-group">
        <input type="password" id="input" required="required" [(ngModel)]="currentPassword" (ngModelChange)="checkPassword()"/>
        <label class="control-label" for="input">Current password</label><i class="mtrl-select"></i>
      </div>

      <form *ngIf="continue" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <input type="password" formControlName="newPassword" id="newPassword"/>
          <label class="control-label" for="newPassword">New password</label><i class="mtrl-select"></i>
          <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="alert alert-danger">
            <div *ngIf="f.newPassword.errors.required">Password is required.</div>
            <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="confirmPassword" id="confirmPassword" pattern="{{ f.newPassword.value }}"/>
          <label class="control-label" for="input">Confirm password</label><i class="mtrl-select"></i>
          <div *ngIf="f.newPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
            <div *ngIf="f.confirmPassword.errors.required">Confirm password is required.</div>
            <div *ngIf="f.confirmPassword.errors.pattern">Password and Confirm Password must be match.</div>
          </div>
        </div>
        <div class="submit-btns">
          <button type="submit" class="mtr-btn" [disabled]="!changePasswordForm.valid"><span>Update</span></button>
          <button type="button" class="mtr-btn ml-1"><span>Cancel</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
