<div class="coment-area">
  <ul class="we-comet">
    <li *ngFor="let comment of commentList; let i = index">
      <div class="comet-avatar">
        <img style="width: 45px; height: 45px" src="{{comment.commenterAvatar}}" alt="">
      </div>
      <div class="we-comment" style="width: 80%">
        <div class="coment-head">
          <h5><a href="#" title="">{{comment.commenterName}}</a></h5>
          <span>{{comment.commentTime}}</span>
          <a class="btn trigger" data-toggle="modal" data-target="#form"><i class="fa fa-reply" (click)="getIdComment(comment.commentId,i)"></i></a>
        </div>
        <p>{{comment.content}}</p>
      </div>
      <button class="d-flex btn btn-danger" (click)="deleteComment(comment.commentId)">x</button>
    </li>
    <li class="post-comment">
      <app-comment [postId]="postId" (newComment)="addNewComment($event)"></app-comment>
    </li>
  </ul>
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-body">
          <div class="form-group">
            <textarea class="form-control" rows="4" cols="50" id="content" name="content" placeholder="Enter text" ngModel></textarea>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success" >Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
