<div class="coment-area" *ngIf="commentList && userLogin && post">
  <ul class="we-comet">
    <li class="row" *ngFor="let comment of commentList; let i = index">
      <div class="comet-avatar col col-lg-2 col-md-2 col-xl-2 col-sm-2">
        <img style="height: 2.5vw; width: 2.5vw; object-fit: cover" src="{{comment.commenterAvatar}}" alt="">
      </div>
      <div class="we-comment">
        <div class="coment-head w-100" style="position: relative">
          <h5><a href="#" title="">{{comment.commenterName}}</a></h5>
          <span>{{comment.commentTime}}</span>
          <p>{{comment.content}}</p>
          <div style="position: absolute; bottom: -10px; right: 0">
            <a class="btn like ti-heart" data-toggle="tooltip" title="Like" style="color: green" (click)="likeAComment(i)" *ngIf="!commentLiked"> {{comment.commentLike}}</a>
            <a class="btn like ti-heart" data-toggle="tooltip" title="Like" style="color: red" (click)="unLikeAComment(i)" *ngIf="commentLiked"> {{comment.commentLike}}</a>
            <ng-template [ngIf]="userLogin.userId==comment.commenterId" >
              <a class="btn fa fa-edit align-self-end" data-toggle="modal" title="Edit" [attr.data-target]="'#editComment' + comment.commentId"></a>
            </ng-template>
            <ng-template [ngIf]="userLogin.userId==comment.commenterId||userLogin.userId==post.posterId" >
              <a class="btn fa fa-trash align-self-end" title="Delete" (click)="deleteComment(comment.commentId, i)"></a>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal fade" [attr.id]="'editComment' + comment.commentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-comment-edit [comment]="comment"></app-comment-edit>
      </div>
    </li>
    <li class="post-comment">
      <app-comment [postId]="postId" (newComment)="addNewComment($event)"></app-comment>
    </li>
  </ul>
</div>


